<!DOCTYPE html>
<html>
<head>
<title>My Profile</title>
<link rel="stylesheet" type="text/css" href="static/css/MyProfile.css" th:href="@{/css/MyProfile.css}">

<meta charset="UTF-8">
</head>
<body>
	<div class="respmenu">
	<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script> 
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a href="/guerrilla/myprofile">My Profile</a></li>
      <li><a href="/guerrilla/ranking">Ranking</a></li>
      <li><a href="/guerrilla/settings">Settings</a></li>
      <li><a href="#">LogOut</a></li>
    </ul>
  </nav>
</div>

	<section id="Vision">
		<label for="GuerrillaName"><b>Guerrilla Name</b></label>

<h1>Recursos</h1>

<table>
<tr>
  <td>Oil</td>
  <td>20</td>
</tr>

<tr>
  <td>Money  </td>
  <td>20</td>
</tr>
<tr>
  <td>People  </td>
  <td>20</td>
</tr>
</table>



<table>
<tr>
  <td><strong>defense</strong></td>
  <td><strong>offense</strong></td>
 
</tr>

<tr>
  <td>CSS</td>
  <td>20</td>

</tr>

</table>

</section>
</body>
</html>