<!DOCTYPE html>
<html>
<head>
<title>Ranking</title>
<link rel="stylesheet" type="text/css" href="static/css/Ranking.css" th:href="@{css/Ranking.css}">

<meta charset="UTF-8">
</head>
<body>
	<div class="respmenu">
	<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script> 
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <li><a href="/guerrilla/myprofile">My Profile</a></li>
      <li><a href="/guerrilla/ranking">Ranking</a></li>
      <li><a href="/guerrilla/settings">Settings</a></li>
      <li><a href="#">LogOut</a></li>
    </ul>
  </nav>
</div>
 
 
	<section id="Guerrillas" th:each="guerrilla : ${guerillaList}">
<table>
<tr>
  <td><strong>Rank</strong></td>
  <td><strong>Company</strong></td>
</tr>

<tr>
  <td th:text="${guerrilla.rank}"></td>
  <td th:text="${guerrilla.guerrillaName}"></td>
   <td><button type="button">attack</button> </td>
</tr>

</table>
</section>


</body>
</html>